* {
  box-sizing: border-box;
  font-family:'Comfortaa', cursive, Verdana, sans-serif;
}

body {
  margin: 0; 
}

header, #about, .attributes{
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.30);
  margin: 3rem 1rem;
  border-radius: 8px;
  padding: 0.5rem;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

header {
  text-align: center;
}

#contact-info {
  padding-left: 0;
  margin-bottom: -0.5rem;
  margin-top: -0.25rem;
}

#about {
  text-align: left;
}

.title-heading {
  font-weight: bold;
}

.title-subheading {
  font-style: italic;
}

ul {
  list-style-type: none;
  padding-bottom: 1rem;
}

p {
  padding-bottom: 1rem;
}

.fade {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.fade.active {
  transform: translateY(0px);
  opacity: 1;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 799px) {
  #contact {
    padding-bottom: 0.75rem;
  }
  
  p {
    padding: 0 1rem;
  }

  .attributes {
    padding: 0.1rem 1rem;
  }

  ul {
    padding-bottom: 0.1rem;
  }

  .sites {
    margin-top: 1rem;
  }

}

@media only screen and (min-width: 800px) {
  * {
    margin: 0 auto;
    max-width: 800px;
  }
}